.orange-bg{
  background-color: #fceae8;
  
}
.carousel-item{
  padding: 30px 40px;
}
.price-tag{
  color: #ff136f;
}
.buy-now-button{
  border: none;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 9px 25px;

}